body {
    margin: 0;

}
* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#chartContainer {
    height: calc(100% - 32px);
    top: 16px;
    margin: 0 auto;
    flex-grow: 1;
    position: relative;
}

.boundaryPolygon {
    stroke: lightgrey;
    fill: none;
}

.playerPolygon {
    fill: rgba(120,250,220,.6);
    stroke: none;
}

.leagueAveragePolygon {
    stroke: brown;
    stroke-dasharray: 3,3;
    fill: none;
}

.axisLine {
    stroke: lightgrey;
}

.grid {
    flex-grow: 1;
    overflow-y: hidden;
    position: relative;
    display: flex;
    border-top: 1px solid grey;
}

.title {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 8px;
}
#pitcherSelectionContainer { 
    width: 240px;
    margin-right: 24px;
    height: 100%; 
    overflow-y: auto;
}

#pitchFrequencyTable {
    width: 440px;
    margin-left: 24px;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 4px 8px;
    text-align: center;
}

td {
    border-bottom: 1px solid lightgrey;
}

td:nth-of-type(1) {
    font-style: italic;
    text-align: left;
}

th {
    font-style: italic;
    padding: 12px;
}

.explanationText {
    font-size: 14px;
    font-style: italic;
    color: grey;
    margin-top: 20px;
    text-align: center;
}

.playerSelectionButton {
    width: 100%;
    height: 24px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.playerSelectionButton:hover {
    background-color: lightblue;
}
.playerIsSelected {
    background-color: lightblue;
    opacity: .8;
}

.playerSelectionButton:focus {
    border: 1px solid lightgray;
}